/* Color Template  */
.color-primary{
    color: $color-primary;
}

.color-primary-bg{
    background: $color-primary;
}

.color-secondary{
    color: $color-secondary;
}

.color-secondary-bg{
    background: $color-secondary;
}

.color-black{
    color: $color-black;
}

.color-black-bg{
    background: $color-black;
}