/* global classes */

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    box-shadow: none !important;
}

// <header>
//         <!-- The Top Section -->
//         <div class="strip d-none justify-content-between px-4 py-1 bg-light">
//             <p class="font-montserrat font-size-12 text-black-50 m-0"> +971 50 202 0067 support@fashionys.com</p>
//             <div class="font-montserrat font-size-14">
//                 <a href="#" class="px-3 border-start text-dark"><i class="fab fa-facebook"></i></a>
//                 <a href="#" class="px-3 border-start border-end text-dark"><i class="fab fa-twitter"></i></a>
//             </div>
//         </div>
//         <!-- !The Top Section -->

//         <div class="container-lg">
//             <div class="row inner py-0">
//                 <div class="col-md-2 col-4 logo m-0 d-flex align-items-center">
//                     <a href="#" class="color-black font-raleway">Shopee Site</a>
//                 </div>

//                 <div class="col-md-4 col-8 ms-auto order-md-3 col-xs-12 right">
//                     <ul class="d-flex justify-content-end py-1 font-raleway  list-style">
//                         <!-- <li><a href="#" class="color-primary"><i class="fa fa-sign-in"></i><span>Login</span></a></li> -->
//                         <li><a href="#" class="color-primary"><img src="images/no-user-avatar.svg" alt=""><span></span></a>
//                         </li>
//                         <li><a href="#" class="color-primary">
//                             <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false"><path d="M12,21C10.349,21,2,14.688,2,9,2,5.579,4.364,3,7.5,3A6.912,6.912,0,0,1,12,5.051,6.953,6.953,0,0,1,16.5,3C19.636,3,22,5.579,22,9,22,14.688,13.651,21,12,21ZM7.5,5C5.472,5,4,6.683,4,9c0,4.108,6.432,9.325,8,10,1.564-.657,8-5.832,8-10,0-2.317-1.472-4-3.5-4-1.979,0-3.7,2.105-3.721,2.127L11.991,8.1,11.216,7.12C11.186,7.083,9.5,5,7.5,5Z"></path></svg>
//                         </a></li>
//                         <li><a href="#" class="color-primary"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
//                             <path d="M9 22a2 2 0 100-4 2 2 0 000 4zm7 0a2 2 0 100-4 2 2 0 000 4zm5-17H5.665l-.687-3.21A1 1 0 004 1H1a1 1 0 000 2h2.191l2.831 13.21a.962.962 0 00.064.159c.017.053.038.105.063.155a.979.979 0 00.133.153.926.926 0 00.088.1c.058.041.12.077.185.105.034.022.07.042.107.06A.993.993 0 007 17h11a1 1 0 00.958-.713l3-10A1.001 1.001 0 0021 5zm-2.244 5H16V7h3.656l-.9 3zM7.819 15l-.6-3H9v3H7.819zM11 12h3v3h-3v-3zm0-2V7h3v3h-3zM9 7v3H6.82l-.6-3H9zm8.256 8H16v-3h2.156l-.9 3z"></path>
//                           </svg></a></li>
//                     </ul>
//                 </div>
//                 <div class="col-md-6 order-md-2 d-flex align-items-center mx-auto">
//                     <div class="search-area">
//                         <form class="search-event d-flex align-items-center justify-content-center">
//                             <input type="text" placeholder="Search..." class="header-search">
//                             <label for="header-search" class="fa fa-search"></label>
//                         </form>
//                     </div>
//                 </div>
//             </div>
//         </div>

//         <div class="nav">
//             <div class="container">
//                 <div class="row">
//                     <div class="col-md-12 pl_0 pe_0">
//                         <div class="menu-container">
//                             <div class="menu">
//                                 <ul>
//                                     <li><a href="index.php">Home</a></li>
//                                     <li><a href="#">Men</a>
//                                         <ul>
//                                             <li><a href="#">Men Accessory</a>
//                                                 <ul>
//                                                     <li><a href="#">Men Accessory</a></li>
//                                                 </ul>
//                                             </li>
//                                             <li><a href="#">Men Accessory</a>
//                                                 <ul>
//                                                     <li><a href="#">Men Accessory</a></li>
//                                                 </ul>
//                                             </li>
//                                             <li><a href="#">Men Accessory</a>
//                                                 <ul>
//                                                     <li><a href="#">Men Accessory</a></li>
//                                                 </ul>
//                                             </li>
//                                         </ul>
//                                     </li>

//                                     <li><a href="about.php">Men</a></li>
//                                     <li><a href="about.php">Women</a></li>
//                                     <li><a href="about.php">Kids</a></li>
//                                     <li><a href="about.php">About Us</a></li>
//                                     <li><a href="faq.php">FAQ</a></li>

//                                     <li><a href="contact.php">Contact Us</a></li>
//                                 </ul>
//                             </div>
//                         </div>
//                     </div>
//                 </div>
//             </div>
//         </div>
//     </header>