/* SETTING SCSS */

.break-all {
    word-break: break-all !important;
}

.flex-xs-1 {
    flex: 1 1 0% !important;
}
.grid {
    display: flex !important;
    flex-wrap: wrap;
}
@media only screen and (min-width: 0){
    .grid .grid__item-xs-12 {
        flex-grow: 1;
        flex-basis: 100%;
        max-width: 100%;
    }
}
.btn--transparent-flush-left {
    margin-left: -18px;
}
.icon {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    svg{
        display: block;
    }
}