$font-baloo:"Baloo Thambi 2", cursive;
$font-montserrat:"Montserrat", cursive;
$font-raleway:"Raleway", cursive;
$color-primary: #12d3c3d0 !important;
$color-secondary: #c04e20 !important;
$color-black: #080606da !important;