$font-baloo:"Baloo Thambi 2", cursive;
$font-montserrat:"Montserrat", cursive;
$font-raleway:"Raleway", cursive;
$color-primary: #1225d3 !important;
$color-secondary: #FAA077 !important;
$color-black: #1b2441 !important;
$color-main: #e76f51 !important;
$color-light: #dca8a8 !important;
$color-news-light: #fadad3 !important;

// <div class="qty-wrapper">
//                     <!-- product qty section -->
//                     <div class="qty d-flex align-items-center">
//                       <h6 class="font-baloo">Quality</h6>
//                       <div class="px-4 d-flex font-rale">
//                         <div class="num-in">
//                           <span class="minus dis">+</span>
//                           <input type="text" class="in-num" value="1" readonly="">
//                           <span class="plus">-</span>
//                         </div>
//                       </div>
//                     </div>
//                     <!-- !product qty section -->
//                   </div>